
#car-feature{
    width: auto;
    height: auto;
    border: black 4px inset;
}

#edit-car-frm{
    width: 400px;
    display:grid;
    font-size: 20px;
}

#photo-edit>img{
    width: 500px;
    height: 300px;
    border: red 2px inset;
}