@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
#cars-container
{
    background-color: rgba(204, 204, 204,0.7);
    border: chartreuse;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: rgb(255, 255, 63) 4px solid;
}

#cars-container div
{
    /*
    background-color: rgb(211, 107, 23);
    border: rgb(116, 4, 221) solid;
    box-shadow: 10px 10px black;
    color: azure;*/
    font-family: 'Montserrat', sans-serif;
    
    box-sizing: border-box;
    background: linear-gradient(to bottom, #d3d3d3 0%, #a7a7a7 100%);
}
#cars-container div>img{
    width: 400px;
    height: 220px;
    border-style: dotted;
    border-color: rgba(0, 206, 252, 0.3);
}
#cars-container div>h2{
    text-align: center;
    background-color: rgba(58, 134, 255, 0.775);
    border: rgb(3, 0, 172) 4px inset;
    font-family: 'Pattaya', sans-serif;
}
#cars-container div .text-container:hover{
    background: linear-gradient(to bottom, #c9c9c9 0%, #f2f2f2 100%);
}

.text-container{
    color: rgb(31, 31, 58);
    font-size: 20px;
    text-align: left;
}
.button-container{
    
    border: rgb(43, 43, 43) 4px solid;
}
.button-container>button{
    font-size: 30px;
    border: rgb(26, 26, 63) 2px inset;
    background-color: rgb(174, 174, 174);
}

.button-container>button:hover{
    background: linear-gradient(to bottom, #00e1e9 0%, #00a791 100%);
}
.button-container>input{
    width: 30px;
    height: 30px;
}
button{
    font-family: 'Abril Fatface', cursive;
}

#order-container>*{
    border: black 4px outset;
    font-size: 20px;
}